In [20]:
import pandas as pd

In [21]:
dogs = pd.read_excel('Healthy_Dog_Vet_Reports.xlsx')  
rain = pd.read_excel('CDC_DWD_Regional_Monthly_Precip_Avg.xlsx')

In [22]:
dogs = dogs.drop(['DoBEstimated', 'age in months', 'age segment'], axis = 1)

dogs.rename(columns = {'Age years by days/365': 'Age(float)', 'Date of Birth': 'DoB', 'In Perfect Health': 'InPerfectHealth', \
                      'Age (months)': 'Age(months)', 'Age (weeks)': 'Age(weeks)', 'Age (days)': 'Age(days)', 'Age (years)': 'Age(years)', \
                      'Age segment': 'AgeSegment', 'Neutered': 'IsNeutered'}, inplace = True)

dogs.loc[dogs["InPerfectHealth"] == "qol.transition_question.answer.yes", "InPerfectHealth"] = "Yes"

dogs["InPerfectHealth"] = (dogs["InPerfectHealth"] == "Yes")

In [23]:
dogs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3411 entries, 0 to 3410
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   QuestionnaireID         3411 non-null   int64
 1   PetId                   3411 non-null   int64
 2   Date Completed          3411 non-null   datetime64[ns]
 3   Age(months)             3411 non-null   int64
 4   Age(weeks)              3411 non-null   float64
 5   Age(days)               3411 non-null   int64
 6   Age(years)              3411 non-null   int64
 7   Age(float)              3411 non-null   float64
 8   AgeSegment              3411 non-null   object
 9   Energetic/Enthusiastic  3411 non-null   float64
 10  Happy/Content           3411 non-null   float64
 11  Active/Comfortable      3411 non-null   float64
 12  Calm/Relaxed            3411 non-null   float64
 13  IsOldPet                3411 non-null   bool
 14  InPerfectHealth         3411 non-null   bool
 15  BreedId                 3411 non-null   int64
 16  Breed                   3411 non-null   object
 17  BreedGroupId            3411 non-null   int64
 18  BreedGroupName          3411 non-null   object
 19  Gender                  3411 non-null   object
 20  DoB                     3411 non-null   datetime64[ns]
 21  IsNeutered              3411 non-null   bool
dtypes: bool(3), datetime64[ns](2), float64(6), int64(7), object(4)
memory usage: 516.4+ KB

In [24]:
rain.rename(columns = {'Lower Saxony': 'LowerSaxony', 'Lower Saxony/Hamburg/Bremen ': 'LowerSaxony/Hamburg/Bremen '}, inplace = True)
rain["Month"] = rain["Month"].astype(int).astype(str).str.zfill(2)

In [25]:
rain.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1736 entries, 0 to 1735
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year                           1736 non-null   int64
 1   Month                          1736 non-null   object
 2   Brandenburg/Berlin             1736 non-null   float64
 3   Brandenburg                    1736 non-null   float64
 4   Baden-Wuerttemberg             1736 non-null   float64
 5   Bavaria                        1736 non-null   float64
 6   Hesse                          1736 non-null   float64
 7   Mecklenburg-Western Pomerania  1736 non-null   float64
 8   LowerSaxony                    1736 non-null   float64
 9   Lower Saxony/Hamburg/Bremen    1736 non-null   float64
 10  North Rhine-Westphalia         1736 non-null   float64
 11  Rhineland-Palatinate           1736 non-null   float64
 12  Schleswig-Holstein             1736 non-null   float64
 13  Saarland                       1736 non-null   float64
 14  Saxony                         1736 non-null   float64
 15  Saxony-Anhalt                  1736 non-null   float64
 16  Thuringia/Saxony-Anhalt        1736 non-null   float64
 17  Thuringia                      1736 non-null   float64
 18  Germany                        1736 non-null   float64
dtypes: float64(17), int64(1), object(1)
memory usage: 257.8+ KB

In [26]:
dogs.head()

,QuestionnaireID,PetId,Date Completed,Age(months),Age(weeks),Age(days),Age(years),Age(float),AgeSegment,Energetic/Enthusiastic,...,Calm/Relaxed,IsOldPet,InPerfectHealth,BreedId,Breed,BreedGroupId,BreedGroupName,Gender,DoB,IsNeutered
0,11422,5627,2018-03-25,37,160.714286,1125,3,3.082192,young,3.51,...,3.84,False,True,1,Other (Small),1,Small,F,2015-02-24,True
1,11417,7332,2018-03-24,133,579.142857,4054,11,11.106849,old,3.96,...,4.26,True,True,177,Retriever - Labrador,3,Large,F,2007-02-16,True
2,11397,7320,2018-03-22,4,17.857143,125,0,0.342466,young,4.15,...,4.26,False,True,303,West Highland White Terrier,1,Small,M,2017-11-17,False
3,11398,7321,2018-03-22,55,243.000000,1701,4,4.660274,middle-aged,3.83,...,4.09,False,True,163,Jack/Parson Russell Terrier,1,Small,F,2013-07-25,True
4,11399,2152,2018-03-22,43,187.142857,1310,3,3.589041,young,3.79,...,3.97,False,True,86,Chihuahua - Long Coat,1,Small,F,2014-08-20,False

In [ ]:
dogs.to_csv('output.csv', index = False)
rain.to_csv('output.csv', index = False)